#content {
	margin-top: 100px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 500px) and (min-height: 401px) {
		width: 80%;
	}

	@media (min-width: 1000px) {
		display: flex;
		flex-direction: row;
	}
}

.user-input {
	width: 90%;
	margin: 20px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px 10px;

	@media (min-width: 1000px) {
		width: 40%;
	}
}

form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;

	.form-div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px 0;
		height: 25px;
	}

	label {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	input {
		width: 45%;
	}
}

.cash-flow-input,
.npv-results-table {
	display: flex;
	flex-direction: column;
	background-color: hsl(215, 80%, 80%);
	border-radius: 5px;
	padding: 15px 10px;
}

.cf-input-row,
.pv-cash-flow-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 5px 0;

	.cf-input-col1,
	.pv-cash-flow-col1 {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cf-input-col2,
	.pv-cash-flow-col2 {
		width: 40%;

		input {
			width: 100%;
		}
	}
}

#results {
	margin: 20px auto;

	@media (min-width: 1000px) {
		width: 45%;
	}

	.results-summary {
		text-align: center;
		margin-bottom: 20px;
	}
}
