@import 'header';
@import 'footer';
@import 'main';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: hsl(215, 50%, 40%);
}

section {
	width: 80%;
	margin: 0 auto;
}

input {
	border: 0;
	background-color: hsl(215, 100%, 92%);
	border-radius: 5px;
	display: inline-block;
	text-align: right;
	font-size: 14px;
	padding: 5px 10px;
}

button:hover {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
